<head>
    <title><%= title %></title>
    <% include ../../elements/meta %>
</head>

<body class="bg-white">
    <% include ../../elements/header %>

    <% include ../../elements/breadcrumb %>

    <!--================Blog Area =================-->
    <section class="blog_area section_padding">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mb-5 mb-lg-0">
                    <div class="blog_left_sidebar">
                        
                        <% blogs.rows.forEach(function(article){ %>
                        <article class="blog_item">
                            <div class="blog_item_img">
                                <img class="card-img rounded-0" src="<%= article.image %>" alt="">
                            </div>

                            <div class="blog_details">
                                <a class="d-inline-block" href="blogs/<%= article.id %>">
                                    <h2><%= article.name %></h2>
                                </a>
                                <p><%= article.description %></p>
                                <ul class="blog-info-link">
                                    <li><a href="/blogs/<%= article.id %>"><i class="far fa-user"></i> <%= article.tag %></a></li>
                                    <li><a href="/blogs/<%= article.id %>"><i class="far fa-comments"></i> 03 bình luận</a></li>
                                </ul>
                            </div>
                        </article>

                        <% }); %>

                        <nav class="blog-pagination justify-content-center d-flex">
                            <ul class="pagination">
                                <li class="page-item">
                                    <a href="/blogs" class="page-link" aria-label="Previous">
                                        <i class="ti-angle-left"></i>
                                    </a>
                                </li>
                                <li class="page-item">
                                    <a href="/blogs" class="page-link">1</a>
                                </li>
                                <li class="page-item active">
                                    <a href="/blogs" class="page-link">2</a>
                                </li>
                                <li class="page-item">
                                    <a href="/blogs" class="page-link" aria-label="Next">
                                        <i class="ti-angle-right"></i>
                                    </a>
                                </li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <% include blog-sidebar %>
            </div>    
        </div>
    </section>
    <!--================Blog Area =================-->

    <% include ../../elements/footer %>

    <% include ../../elements/scripts %>
</body>

</html>