<head>
    <title><%= title%></title>
    <% include ../../elements/meta %>

    <%
    var url = new URL(currentLink);
    %>
</head>

<body class="bg-white">
    <% include ../../elements/header %>

    <% include ../../elements/breadcrumb %>

    <!--================Category Product Area =================-->
    <section class="cat_product_area section_padding border_top">
        <div class="container">
            <div class="row">
                <div class="col-lg-3">
                    <div class="left_sidebar_area">
                        <form method="GET">
                        <aside class="left_widgets p_filter_widgets sidebar_box_shadow">
                            <div class="l_w_title">
                                <h3>Lọc sản phẩm</h3>
                            </div>
                            <div class="widgets_inner">
                                <ul class="list">
                                    <p>Nhóm</p>
                                    <li>
                                        <input name="group" id="allGroup" value="" type="radio" aria-label="Radio button for following text input" <%=helper.getChecked(url, 'group', "")%>>
                                        <label for="allGroup" >Tất cả</label>
                                    </li>
                                    <% group.forEach((group) => { %>
                                    <li>
                                        <input name="group" id="group_<%= group.id %>" value="<%= group.id %>" type="radio" aria-label="Radio button for following text input" <%=helper.getChecked(url, 'group', group.id)%>>
                                        <label for="group_<%= group.id %>" ><%= group.name %></label>
                                    </li>
                                    <% }); %>
                                </ul>
                                <ul class="list">
                                    <p>Loại</p>
                                    <li>
                                        <input name="type" id="allType" value="" type="radio" aria-label="Radio button for following text input" <%=helper.getChecked(url, 'type', "")%>>
                                        <label for="allType" >Tất cả</label>
                                    </li>
                                    <% type.forEach((type) => { %>
                                    <li>
                                        <input name="type" id="type_<%= type.id %>" value="<%= type.id %>" type="radio" aria-label="Radio button for following text input" <%=helper.getChecked(url, 'type', type.id)%>>
                                        <label for="type_<%= type.id %>"><%= type.name %></label>
                                    </li>
                                    <% }); %>
                                </ul>
                                <ul class="list">
                                    <p>Hãng sản xuất</p>
                                    <li>
                                        <input name="brand" id="allBrand" value="" type="radio" aria-label="Radio button for following text input" <%=helper.getChecked(url, 'brand', "")%>>
                                        <label for="allBrand" >Tất cả</label>
                                    </li>
                                    <% brand.forEach((brand) => { %>
                                    <li>
                                        <input name="brand" id="brand_<%= brand.id %>" value="<%= brand.id %>" type="radio" aria-label="Radio button for following text input" <%=helper.getChecked(url, 'brand', brand.id)%>>
                                        <label for="brand_<%= brand.id %>"><%= brand.name %></label>
                                    </li>
                                    <% }); %>
                                </ul>
                            </div>
                        </aside>

                        <!-- <aside class="left_widgets p_filter_widgets price_rangs_aside sidebar_box_shadow">
                            <div class="l_w_title">
                                <h3>Lọc giá</h3>
                            </div>
                            <div class="widgets_inner">
                                <div class="range_item">
                                    <div id="slider-range"></div>
                                    <input type="text" class="js-range-slider" value="" />
                                    <div class="d-flex align-items-center">
                                        <div class="price_text">
                                            <p>Giá :</p>
                                        </div>
                                        <div class="price_value d-flex justify-content-center">
                                            <input type="text" class="js-input-from" id="amount" readonly />
                                            <span>đến</span>
                                            <input type="text" class="js-input-to" id="amount" readonly />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </aside> -->

                        <aside class="section-top-border text-center" style="margin-top:-70px">
                            <input type="submit" value="Lọc" class="genric-btn primary-border"></input>
                        </aside>
                    </form>
                    </div>
                </div>
                <div class="col-lg-9">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="product_top_bar d-flex justify-content-between align-items-center">
                                <div class="single_product_menu product_bar_item">
                                    <h2><%= range %></h2>
                                </div>
                                <div class="product_top_bar_iner product_bar_item d-flex">
                                    <div class="product_bar_single">
                                        <select id="select-order" class="wide" onChange="window.location.search=this.value">

                                            <option value="<%=helper.setTowParams(url,'order', 'ASC', 'orderBy', 'id', 1)%>" data-display="Sắp xếp">Sắp xếp</option>
                                            <option value="<%=helper.setTowParams(url,'order', 'ASC', 'orderBy', 'price', 1)%>">Giá tăng dần</option>
                                            <option value="<%=helper.setTowParams(url,'order', 'DESC', 'orderBy', 'price', 1)%>">Giá giảm dần</option>
                                        </select>
                                    </div>
                                    <div class="product_bar_single">
                                        <select id="select-per-page" onChange="window.location.search=this.value">
                                            <option value="<%=helper.setParam(url, 'perPage', 6, 1)%>" data-display="Hiện 6">Hiện  6</option>
                                            <option value="<%=helper.setParam(url, 'perPage', 12, 1)%>">Hiện 12</option>
                                            <option value="<%=helper.setParam(url, 'perPage', 24, 1)%>">Hiện 24</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <% product.forEach((product) => {%>
                        <div class="col-lg-4 col-sm-6">
                            <div class="single_category_product">
                                <div class="single_category_img">
                                    <a href="/shop/<%= product.id %>">
                                        <img src="<%= product.images[0] %>" alt="" style="height:280;width:255">
                                    </a>
                                    <div class="category_social_icon">
                                        <ul>
                                            <!--<li><a href="/shop"><i class="ti-heart"></i></a></li>-->
                                            <li><a value="<%= product.id %>" class="ti-bag"></a></li>
                                        </ul>
                                    </div>
                                    <div class="category_product_text">
                                        <a href="shop/<%=  product.id %>">
                                            <h5><%=  product.name %></h5>
                                        </a>
                                        <p><%=  product.price %> VNĐ</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <% }); %>

                        <% include ../../elements/pagination %>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--================End Category Product Area =================-->

    <% include ../../elements/feature %>

    <% include ../../elements/subscribe %>

    <% include ../../elements/footer %>

    <% include ../../elements/scripts %>
    
</body>

</html>